site_name: >-
  Why Single-Member District Undermine Voters
site_description: >-
  How Single-member District undermine democracy?
  Who benefits from it?
  Is there solutions?
site_author: lisiki (@l1siki) りしき
theme:
  name: material
  logo: assets/faceicon_180px.png
  favicon: assets/faceicon_32px.png
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    admonition:
      quote: octicons/tag-16

plugins:
  - search
  - macros
  - social
  - i18n:
      docs_structure: folder
      fallback_to_default: true
      languages:
        - locale: en
          name: English
          default: true
        - locale: ja
          name: 日本語
  - minify

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - nl2br
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

hooks:
  - docs/python/strip_number_hook.py
  - docs/python/set_site_url.py
  - docs/python/smart_read_time.py

extra_css:
  - css/extra.css
